In [1]:
import pandas as pd
from matplotlib import pyplot as plt

d:\python3.7\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [75]:
data=pd.read_csv("双十一淘宝美妆数据.csv",encoding="utf-8")
data.head()

,update_time,id,title,price,sale_count,comment_count,店名
0,2016/11/14,A18164178225,CHANDO/自然堂 雪域精粹纯粹滋润霜50g 补水保湿 滋润水润面霜,139.0,26719.0,2704.0,自然堂
1,2016/11/14,A18177105952,CHANDO/自然堂凝时鲜颜肌活乳液120ML 淡化细纹补水滋润专柜正品,194.0,8122.0,1492.0,自然堂
2,2016/11/14,A18177226992,CHANDO/自然堂活泉保湿修护精华水（滋润型135ml 补水控油爽肤水,99.0,12668.0,589.0,自然堂
3,2016/11/14,A18178033846,CHANDO/自然堂 男士劲爽控油洁面膏 100g 深层清洁 男士洗面奶,38.0,25805.0,4287.0,自然堂
4,2016/11/14,A18178045259,CHANDO/自然堂雪域精粹纯粹滋润霜（清爽型）50g补水保湿滋润霜,139.0,5196.0,618.0,自然堂

In [76]:
#转换为时间
type(data.update_time)
data_new=pd.to_datetime("2006-01-01")
type(data_new)

pandas._libs.tslibs.timestamps.Timestamp

In [77]:
data["time1"]=data["update_time"].apply(pd.to_datetime,format="%Y-%m-%d")
#转换为时间格式，形式相对，format='%Y-%m-%d %H:%M:%S.%f'
# data.time1.dt.year
# data.time1.dt.month
# data.time1.dt.day

In [78]:
data["year"]=data["time1"].dt.year
data["month"]=data["time1"].dt.month
data["day"]=data["time1"].dt.day

In [61]:
data=data.drop(["update_time"],axis=1)
#https://www.cnblogs.com/guxh/p/9420610.html,删除行或者列，axis默认为0,行
#直接[]为使用列明，data。【】，使用位置

In [79]:
data.columns

Index(['update_time', 'id', 'title', 'price', 'sale_count', 'comment_count',
       '店名', 'time1', 'year', 'month', 'day'],
      dtype='object')

In [80]:
data["店名"].value_counts()

悦诗风吟    3021
佰草集     2265
欧莱雅     1974
雅诗兰黛    1810
倩碧      1704
美加净     1678
欧珀莱     1359
妮维雅     1329
相宜本草    1313
兰蔻      1285
娇兰      1193
自然堂     1190
玉兰油     1135
兰芝      1091
美宝莲      825
资生堂      821
植村秀      750
薇姿       746
雅漾       663
雪花秀      543
SKII     469
蜜丝佛陀     434
Name: 店名, dtype: int64

In [81]:
#删除重复数据
data=data.drop_duplicates(inplace=False)

In [82]:
data.shape

(27512, 11)

In [85]:
data.isnull().any()

update_time      False
id               False
title            False
price            False
sale_count        True
comment_count     True
店名               False
time1            False
year             False
month            False
day              False
dtype: bool

In [88]:
data2=data.dropna(axis=0,how="any",inplace=False)

In [89]:
data2.shape

(25162, 11)

In [100]:
a=data.isnull().index
import numpy as np

In [113]:
data2=pd.isnull(data)
data[data2["comment_count"]==True].index

Int64Index([ 2011,  2012,  2013,  2014,  2015,  2016,  2017,  2018,  2019,
             2020,
            ...
            27588, 27589, 27590, 27591, 27592, 27593, 27594, 27595, 27596,
            27597],
           dtype='int64', length=2350)

In [122]:
data2=data.drop(data[pd.isnull(data)["comment_count"]==True].index,axis=0)

In [132]:
data2["comment_count"].isnull().count()
data2.head()

,update_time,id,title,price,sale_count,comment_count,店名,time1,year,month,day
0,2016/11/14,A18164178225,CHANDO/自然堂 雪域精粹纯粹滋润霜50g 补水保湿 滋润水润面霜,139.0,26719.0,2704.0,自然堂,2016-11-14,2016,11,14
1,2016/11/14,A18177105952,CHANDO/自然堂凝时鲜颜肌活乳液120ML 淡化细纹补水滋润专柜正品,194.0,8122.0,1492.0,自然堂,2016-11-14,2016,11,14
2,2016/11/14,A18177226992,CHANDO/自然堂活泉保湿修护精华水（滋润型135ml 补水控油爽肤水,99.0,12668.0,589.0,自然堂,2016-11-14,2016,11,14
3,2016/11/14,A18178033846,CHANDO/自然堂 男士劲爽控油洁面膏 100g 深层清洁 男士洗面奶,38.0,25805.0,4287.0,自然堂,2016-11-14,2016,11,14
4,2016/11/14,A18178045259,CHANDO/自然堂雪域精粹纯粹滋润霜（清爽型）50g补水保湿滋润霜,139.0,5196.0,618.0,自然堂,2016-11-14,2016,11,14

In [131]:
data2.columns

Index(['update_time', 'id', 'title', 'price', 'sale_count', 'comment_count',
       '店名', 'time1', 'year', 'month', 'day'],
      dtype='object')

In [133]:
data2=data2.drop(['update_time','time1', 'year', 'month'],axis=1,inplace=False)

In [135]:
data2.head()

,id,title,price,sale_count,comment_count,店名,day
0,A18164178225,CHANDO/自然堂 雪域精粹纯粹滋润霜50g 补水保湿 滋润水润面霜,139.0,26719.0,2704.0,自然堂,14
1,A18177105952,CHANDO/自然堂凝时鲜颜肌活乳液120ML 淡化细纹补水滋润专柜正品,194.0,8122.0,1492.0,自然堂,14
2,A18177226992,CHANDO/自然堂活泉保湿修护精华水（滋润型135ml 补水控油爽肤水,99.0,12668.0,589.0,自然堂,14
3,A18178033846,CHANDO/自然堂 男士劲爽控油洁面膏 100g 深层清洁 男士洗面奶,38.0,25805.0,4287.0,自然堂,14
4,A18178045259,CHANDO/自然堂雪域精粹纯粹滋润霜（清爽型）50g补水保湿滋润霜,139.0,5196.0,618.0,自然堂,14

In [138]:
data2.set_index=data.comment_count

In [143]:
data2.index=data["comment_count"].tolist()

ValueError: Length mismatch: Expected axis has 25162 elements, new values have 27512 elements